/*pdf configuration view*/
body {
    font-family: arial;
    font-size: 24px;
    margin: 0;
    padding 0 !important;
    min-width: 1000px; /*pdf width, if 1000px*/
}

h1 {
    margin: 0px;
}

h3 {
    margin: 0px;
    /*color: #909090;*/
}

.container {

    margin-top: -25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.break{
    display: block;
    overflow: hidden;
    clear: both;
    page-break-after: always;
}


/*General info*/
.main-picture1 {
    margin-top: -.25em;
    /*height: 100px;*/
    width: 90%; /*75%*/
}

.main-picture2 {
    margin-top: -1em;
    margin-bottom: 0.5em;
    margin-left: .8em;
    /*height: 100px;*/
    width: 70%; /*75%*/
}

.second-picture {
    margin-top: .5em;
    margin-bottom: .5em;
    /*height: 60px;*/
    width: 75%; /*55%*/
}

.title-top1 {
    margin-top: -.25em;
    text-transform: uppercase;
}

.title-top2 {
    text-transform: uppercase;
}

.hrspacing { 
    padding-right:15px;
    padding-left:15px;
}

.hrcolor {
    border-color: #C0C0C0;
    border-style: solid;
    border-bottom: 1px;
    margin-top:15px;
    margin-bottom:15px;
    /*padding:0px;*/
}

.hrcolor1 {
    border-color: #C0C0C0;
    border-style: solid;
    border-bottom: 1px;
    margin-top:0px;
    margin-bottom:15px;
    /*padding:0px;*/
}
.vrspacing {
    border-left: 1px solid #C0C0C0;
 }


/*Contact info*/
.social-picture {
    margin-left: -30px;
    margin-top: -15px;
    height: 46px;
    /*width: 70%;*/ /*55%*/
}

.contact-info {
    color: #909090;
    font-size: 18px;
    margin-top: -10px;
    margin-left: -15px;
    line-height: 120%;
    /*margin-bottom:0px;
    padding:0px;*/
}


/*OT101 service*/
.title-section h1 {
    margin: -10px;
    /*margin-right: 6em;*/
    margin-top: 0.75em;
    /*padding: .5em;*/
    background-color: #84e464;
    color: #ffffff;
    font-size: 42px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    /*border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;*/
}

.user-ot101result {
    text-align: center;
    margin-top: 0.5em;
    line-height: 250%;
}

.chart-ot101 {
    text-align: right;
    margin-top: 1.8em;

}

.chart-ot101-info {
    margin-top: 0.7em;
    text-align: center;
    line-height: 120%;
    margin-bottom: 0.6em;
}

.chart-ot101-info1 {

    margin-top: 1.3em;
    text-align: center;
    line-height: 120%;
    margin-bottom: 0.7em;
}

.ot101.consumption {
    color: #84E464;
}

.ot101.averageEffConsumption {
    color: #909090;
}

.ot101.averageConsumption path {
    fill: #494949;
}

.ot101.averageConsumption .icons, .ot101.averageConsumption .label {
    fill: #494949;
}

.ot101.averageConsumption line {
    stroke: #494949;
    stroke-width: 4px;
}

.ot101.consumption path {
    fill: #84E464;
}

.ot101.consumption .icons, .ot101.consumption .label {
    fill: #84E464;
}

.ot101.consumption line {
    stroke: #84E464;
    stroke-width: 4px;
}

.ot101.averageEffConsumption path {
    fill: #909090;
}

.ot101.averageEffConsumption .icons, .ot101.averageEffConsumption .label {
    fill: #909090;
} 

.ot101.averageEffConsumption line {
    stroke: #909090;
    stroke-width: 4px;
}

.ot101 .value, .ot201 .value {
  fill: white;
  font-family: Arial;
  text-anchor: middle;
  /*font-weight: bolder;*/
}

.question-ot101 {
    color: #909090;
    text-align: center;
    line-height: 110%;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.classification-ot101 {
    text-align:left;
    font-size: 23px;
    line-height: 200%;
    color: #d3d3d3;
    /*position: relative;
    z-index: 1;
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 0em;
    margin-bottom: -12em;
    font-size: 30px;*/
}

.classification-ot101-text {
    text-align:justify;
    font-size: 23px;
    line-height: 120%;
}

.classification-ot101 > .active {
    /*font-weight: bold;*/
    font-size: 62px;
    margin-left: -3px;
    /*margin-right: 0em;*/
}

#smiley-winner.active {
    color: #84E464;
}

#smiley-great.active {
    color: #84E464;
}

#smiley-good.active {
    color: #84E464;
}

#smiley-bad.active {
    color: #84E464;
}


/*OT102 service*/
.user-ot102result, .user-ot201result {
    text-align: center;
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 120%;
}

.chart-ot102 {
    text-align: center;
    /*width: 400px;
    margin-top: -2em;
    margin-left: -3em;
    margin-right: -3em;
    margin-bottom: -12em;*/

    margin-top: -1em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: -9.7em;
    
  /*width: auto;*/
  /*margin: 100px auto;*/
}

.chart-text {
  fill: purple;
}

.chart-color1 {
  fill: #33a357;
}

.chart-color2 {
  fill: #79b752;
}

.chart-color3 {
  fill: #c3d545;
}

.chart-color4 {
  fill: #fff12c;
}

.chart-color5 {
  fill: #edb731;
}

.chart-color6 {
  fill: #d66f2c;
}

.chart-color7 {
  fill: #cc232a;
}

.needle,
.needle-center {
  fill: #464A4F;
}


/*OT103 service*/
.title-section-white h1 {
    margin: -10px;
    /*margin-right: 6em;
    margin-top: 0.75em;
    padding: .5em;
    background-color: #84e464;*/
    color: #909090;
    font-size: 40px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    /*border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;*/
}

.chart-ot103 {
    text-align: center;
    margin-top: 0.5em;
    margin-left: 0em;
    margin-bottom: 0.1em;
}

.user-ot103result {
    text-align: center;
    font-size: 23px;
    margin-top: 1em;
    line-height: 120%;
}

.ot103 .legend text {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

.ot103 .line {
  fill: none;
  /*stroke-width: 2.5px;*/
  stroke-width: 4px;
}

.ot103 .line.averageConsumption {
    stroke: #494949;
}

.ot103 .legend .averageConsumption {
    fill: #494949;
}

.ot103 .line.consumption {
    stroke: #84E464;
    stroke-width: 5.5px;
}

.ot103 .legend .consumption {
    fill: #84E464;
}

.ot103 .line.averageEffConsumption {
    stroke: #909090;
}

.ot103 .legend .averageEffConsumption {
    fill: #909090;
}

.ot103 .point {
    stroke-width: 2px;
    stroke: #fff;
}

.point.averageConsumption {
    fill: #494949;
}

.point.consumption {
    fill: #84E464;
}

.point.averageEffConsumption {
    fill: #909090;
}

.axis path,
.axis line {
  /*fill: none;*/
  stroke-width: 1px;
  stroke: #C0C0C0;
}

.x.axis line {
    stroke-width: 1px;
    stroke: #C0C0C0;
}

.axis path, .y.axis line {
    display: none;
}

.x.vertical {
    stroke-width: 1px;
    stroke: #C0C0C0;
}

.ot103 text {
    font: 18px arial;
    font-weight: bolder;

}


/*OT201 service*/
.chart-ot201 {
    text-align: center;
    margin-top: 0em;
    margin-left: 0em;
    margin-bottom: 0em;
}

.ot201.consumption path {
    fill: #84E464;
}

.ot201.consumption .icons, .ot201.icon , .ot201.consumption .label {
    fill: #84E464;
}

.ot201.consumption line {
    stroke: #84E464;
    stroke-width: 3px;
}

.ot201.consumption {
    color: #84E464;
}

.ot201.previousConsumption path {
  fill: #225C10;
}

.ot201.previousConsumption .icons, .ot201.previousConsumption .label {
  fill: #225C10;
}

.ot201.previousConsumption line {
    stroke: #225C10;
    stroke-width: 2px;
}

.ot201.previousConsumption {
    color: #225C10;
}


/*OT302 service*/
.user-ot302result {
    text-align: justify;
    font-size: 23px;
    margin-top: 0.5em;
    margin-right: 0em;
    margin-left: 0em;
    margin-bottom: 0em;
    line-height: 120%;
}

.chart-ot302a {
    text-align: left;
    margin-top: 1em;
    /*margin-left: 0em;
    margin-bottom: 0em;*/
}

.chart-ot302b {
    text-align: center;
    margin-top: -1.2em;
    margin-left: 0em;
    /*margin-right: 0em;
    margin-bottom: 0em;*/
}

/*.ot302 .legend text {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
}*/


/*OT401 service*/
.chart-ot401 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: -2em;
    margin-left: -1.5em;
}

.ot401 .tip {

    float: right;
    /*width: 350px;*/
    /*width: auto;*/
    text-align: justify;
    font-size: 23px;
    line-height: 120%;
    padding-left: 30px;
    padding-right: 30px;
    /*border-right: 1px solid #C0C0C0;*/
    border-left: 1px solid #C0C0C0;

}

.ot401 .tip .icon {
    float: left;
    margin-right: 8px;
    color: #84E464;
}

/*.ot401 .tip .line {
    stroke-width: 1px;
    stroke: #C0C0C0;
}*/


/*OT503 service*/
.user-ot503result {
    text-align: justify;
    font-size: 23px;
    margin-top: 1.3em;
    margin-right: 0em;
    margin-left: 0em;
    margin-bottom: 0em;
    line-height: 120%;
}

.chart-ot503 {
    text-align: left;
    margin-top: 0.3em;
    /*margin-left: 0em;*/
    margin-bottom: -0.4em;
}

.ot503 .legend text {
    font-size: 16px;
    /*font-weight: bold;*/
    text-transform: uppercase;
}

.ot503 .bar {
  fill: #84e464;
}

.ot503 .line {
    fill: none;
    stroke-width: 2.5px;
}

.ot503 .line.temperature {
    stroke: #225C10;
}

.ot503 .point {
    stroke-width: 2px;
    stroke: #225C10;
}

.ot503 .point.temperature {
    fill: #225C10;
}

/*.ot503 .grid .tick{
    stroke: lightgrey;
    opacity: 0.7;
}*/


/* Generated by Glyphter (http://www.glyphter.com) on  Tue Jan 19 2016*/
@font-face {
    font-family: 'new_ematters';
    src: url('/src/new_ematters.eot');
    src: url('/src/new_ematters.eot?#iefix') format('embedded-opentype'),
         url('/src/new_ematters.woff') format('woff'),
         url('/src/new_ematters.ttf') format('truetype'),
         url('/src/new_ematters.svg#new_ematters') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
   font-family: 'new_ematters';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-TIP_2:before{content:'\0043';}
.icon-TIP_1:before{content:'\0044';}
.icon-TIP_4:before{content:'\0045';}

